[phases.setup]
nixPkgs = ["python39", "nodejs-18_x"]

[phases.install]
cmds = [
  "pip install -r requirements.txt",
  "npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "gunicorn app_v2:app --bind 0.0.0.0:$PORT --timeout 120"

